body {
    box-sizing:border-box;
    font-size: 16px;
    font-family: "微软雅黑";
    color: #18222c;
}
/*登陆页面*/
.loginContainer{
   display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: 400px;
}
.login_center{
   background-image: url("../images/bak1.png");
    background-size: cover;
    width:274px;
    height: 216px;

}
.login_title{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 800;
    font-family: 宋体;
    ;

}
.login_info{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 800;
    font-family: 宋体;
}
.login_info label{
   vertical-align: middle;
    display:inline-block;
    height: 30px;
}
.login_info input{
    vertical-align: middle;
    height: 30px;
    width: 140px;

}
.login_btn_login{
    background-image: url("../images/login2.png");
    width: 60px;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    float: left;
    margin-left: 110px;
}
.login_btn_regist{
    background-image: url("../images/regist2.png");
    width: 60px;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    float: left;

}
.login_top{
    margin-top: 10px;

}
/*注册页面*/
.regist_center{
    background-image: url("../images/bak1.png");
    background-size: cover;
    width:500px;
    height: 850px;
}