<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登陆</title>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="../static/css/css.css"/>
</head>
<body>
    <div class="loginContainer">

        <div class="login_center">
              <div class="login_title">曹慢慢(海外代购)</div>
                <div class="login_info">
                    <label>用户名:</label>
                    <input type="text"/>
                </div>
                <div class="login_info">
                    <label>密&nbsp;码:</label>
                    <input type="text"/>
                </div>

               <div class="login_top">
                   <a class="login_btn_login">aaa</a>  <a class="login_btn_regist">bbb</a>
               </div>
        </div>

    </div>
</body>
</html>