<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>注册</title>
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" th:href="@{../static/css/css.css}"/>
    <script type="text/javascript" th:src="@{../static/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{../static/js/login/regist.js}"></script>
    <script type="text/javascript" th:src="@{../static/js/md5.js}"></script>
</head>
<body>
<div class="loginContainer">


    <div class="regist_center">
        <table class="login_info2">
            <tr >
                <td><label>账号:</label></td>
                <td><input id="account" type="text" placeholder="邮箱号/手机号"/></td>
            </tr>
            <tr class="error_tr">
                <td></td>
                <td id="account_error" class="warming_error smallFont"></td>
            </tr>

            <tr >
                <td><label>密码:</label></td>
                <td><input id="mima" type="password"/></td>
            </tr>
            <tr class="error_tr">
                <td></td>
                <td class="warming_error smallFont" id="mima_error"></td>
            </tr>

            <tr >
                <td><label>确认密码:</label></td>
                <td><input id="mima2" type="password"/></td>
            </tr>
            <tr class="error_tr">
                <td></td>
                <td class="warming_error smallFont" id="mima2_error"></td>
            </tr>

            <tr >
                <td><label>姓名:</label></td>
                <td><input id="name" type="text" placeholder="中文名字"/></td>
            </tr>
            <tr class="error_tr">
                <td></td>
                <td class="warming_error smallFont" id="name_error"></td>
            </tr>

            <tr >
                <td><label>手机号:</label></td>
                <td><input id="phone" type="number"/></td>
            </tr>
            <tr class="error_tr">
                <td></td>
                <td class="warming_error smallFont" id="phone_error"></td>
            </tr>
            <tr>
                <td colspan="2" class="regist_button">
                    <a  class="regist_start_btn"></a>
                    <a  class="regist_rest_btn"></a>
                </td>
            </tr>
        </table>


    </div>


</div>
</body>
</html>